apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: hibook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: cc_project
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: bookdb
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: bookdb
          persistentVolumeClaim:
            claimName: bookdb-pvc
